@media only screen and (max-width: 600px){
    .section-inner{
        bottom:75px;
        left:20px;
    }

    .section-inner h2{
        font-size: 40px;
    }

    footer ul li:first-child{
        position: absolute;
        top: 30px;
        left:50%;
        transform:translate(-50%, -50%);
    }

    footer ul li{
        margin-right: 10px;
    }

    .logo{
        width:150;
        margin: auto;
    }
}


@media only screen and (max-width: 1024px){
    .desktop-main-menu{
        display:none;
    }
    
    /* show mobile main menu */
    .mobile-only{
        display:block;
    }

}










/*tablet genişliği 1124*/